<div class="list-container">
  <h2>Наші сучасні треки</h2>

  <div class="search-field">
    <input
      type="text"
      placeholder="Пошук за назвою або виконавцем..."
      [ngModel]="''"
      (ngModelChange)="onFilterChange($event)">
  </div>

  <ng-container *ngIf="tracks$ | async as tracks">

    <div class="no-results" *ngIf="tracks.length === 0">
      <h3>Нічого не знайдено за вашим запитом </h3>
    </div>

    <app-item-card
      *ngFor="let track of tracks"
      [track]="track">
    </app-item-card>

  </ng-container>

</div>
