:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

app-header,
app-footer {
  width: 100%;
  flex-shrink: 0;
}
